{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h1><a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a></h1>
{% endblock page_header %}

{% block content %}

    <h3>Add a new entry:</h3>
    <div class="jumbotron" style="background-color: #00AF42;">
        <form action="{% url 'learning_logs:new_entry' topic.id %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-lg btn-warning" name="submit" style="color:#0056C4" >Submit &raquo;</button>
        </form>
    </div>
   
{% endblock content %}
