{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}


{% block content %}
    <div class="jumbotron" style="background-color:rgba(23, 243, 107, 0.877)">
        <form method="post" action="{% url 'users:register' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button name="submit" class="btn btn-warning">Register</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
        </form>
    </div>   
{% endblock content %}
    